@import 'variables';

body {
	font-weight: 100;
}

::selection { 
  color: $white;
  background: $blue;
}

::-moz-selection {
  color: $white;
  background: $blue; 
}

h1, h2, h3, h4, h5, h6 {
	color: $navy;
}

.main-nav {
	font-size: 14px;
}

.navbar-brand {
	font-size: 18px;
}

.wf-loading {
	visibility: hidden;
}
 
.wf-active {
	visibility: visible;
}
