// These variables need to be imported to each stylesheet that you want to use them in

$midnight: #2e333d;
$orange: #be5045;
$blue: #61718f;
$navy: #303f5f;
$black: #2e2c2d;
$darkGray: #434843;
$mediumGray: #757672;
$gray: #b2b3b0;
$lightGray: #deded9;
$borderGray: #e5e5e5;
$white: #ffffff;
$tan: #f9f0d9;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "museo-slab", Georgia, Times, "Times New Roman", serif;
$font-family-base: $font-family-serif;

$font-size-base: 24px;
$line-height-base: 1.35;

$headings-font-family: $font-family-sans-serif;
$headingsColor: $navy;
$link-color: $orange;
$text-color: $black;

$brand-primary: $lightGray;

$navbar-default-link-color: $lightGray;
$navbar-default-link-hover-color: $gray;

$container-tablet: 728px;
$container-desktop: 728px;
$container-lg-desktop: 728px;
