// These variables need to be imported to each stylesheet that you want to use them in

$midnight: #2e333d;
$orange: #be5045;
$blue: #61718f;
$navy: #303f5f;
$black: #2e2c2d;
$darkGray: #434843;
$mediumGray: #757672;
$gray: #b2b3b0;
$lightGray: #deded9;
$borderGray: #e5e5e5;
$white: #ffffff;
$tan: #f9f0d9;

$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily: "museo-slab", Georgia, Times, "Times New Roman", serif;
$baseFontFamily: $serifFontFamily;

$baseFontSize: 24px;
$baseLineHeight: 32.4px;

$headingsFontFamily: $sansFontFamily;
$headingsColor: $navy;
$linkColor: $orange;
$textColor: $black;

$navbarBackground: $midnight;
$navbarBackgroundHighlight: $midnight;
$navbarText: $lightGray;
$navbarBrandColor: $lightGray;
$navbarLinkColor: $lightGray;
$navbarLinkColorHover: $gray;

$gridColumnWidth768: 36px;
$gridGutterWidth768: 18px;
$gridColumnWidth: 36px;
$gridGutterWidth: 18px;
$gridColumnWidth1200: 36px;
$gridGutterWidth1200: 18px;
