<% provide(:title, "View Photo" ) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= image_tag @photo.image_url(:full).to_s %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
