@import 'shared/variables';

.upload-photo {
	form {
		margin-bottom: 0;
	}
}

.browse-photos {
	.image-preview {
		padding-bottom: 15px;
		
		img {
			padding-bottom: 10px;
		}
		
		input {
			width: 100%;
			max-width: 215px;
		}
	}
}