<% provide(:title, 'Home') %>

<h1>A Better Way to Play</h1>
<p>The Fuzz Guide is a fresh approach to learning guitar. It's perfect for beginners and gives you the foundation for a lifetime of making music.</p>

<h3><a href="/signup">Start your free trial today</a></h3>
<h4>$12 per month. Cancel anytime.</h4>
<hr>
<p><em>[ copy for custom animation - Start playing guitar today. / Learn classic recordings. / Get advice from advanced players. / Get a new lessons every week. Get started today. ]</em></p>
<hr>

<h2>Hands-On Advice</h2>
<p>You'll get direct access to us over email and video conferences. Not understanding a concept? Schedule a video session or hit up our support email and we'll get you unstuck.</p>

<h2>Learn Great Music</h2>
<p>You'll learn tunes that stand the test of time. When it's time to fingerpick, we'll show you "These Days" from Nico's classic album <em>Chelsea Girl</em>. When you're ready to play your first Rock and Roll riff, it'll be Keith Richards' irrepressible intro to "Rocks Off." No "Camptown Races" here.</p>

<hr>
[ Intro / Sales Video ]
<hr>
<h3><a href="/signup">Sign Up</a></h3>
<h4>$12 per month. Free trial. Cancel anytime.</h4>
<h5>It's time to start a new love affair.</h5>
<hr>

<h2>New Lessons Weekly</h2>
<p>We release a new lesson every week, so there's always more to learn. You'll never run out of new material.</p>

<h2>A Strong Foundation</h2>
<p>You get a foundation stronger than a T-Rex riff. We break down each concept to its atomic elements and build them into cohesive understanding of the instrument. We'll shepherd you around common pitfalls and show you the shortcuts.</p>

<h2>Perfect for Beginners</h2>
<p>We've packaged key lessons into an introductory course that turns you into a guitar player. Each lesson includes a video version of the lesson, a full article, and plenty of illustrated diagrams and photos. You'll also get a list of resources and recommended listening if you want to dig deeper.</p>

<hr>
<h3><a href="/signup">Get Started Today</a></h3>
<h4>$12 per month. Free trial. Cancel anytime.</h4>
<hr>

<p>"The Fuzz Guide gave me the confidence and ability to finally play my girlfriend's favorite song for her birthday. We're married now. Need I say more?"</p>
<p>Jack Reed</p>
<p>Atlanta, GA</p>


