<% provide(:title, 'Home') %>

<h1>A Better Guitar Method</h1>

<p>The Fuzz Guide is a fresh approach approach to learning guitar. It's laser-focused on beginners. If you're just starting out these lessons are perfect for you.</p>

<p>We've been in your shoes and know how hard it can be when your fingers aren't calloused and your pinky isn't strong enough to make a G-chord. So we break everything down into the smallest concept possible, and then make sure you nail it before moving on. We don't take anything for granted&#8212;from gear to theory to classic riffs to current songs, we cover it all.</p>

<hr>
<h3><a href="/signup">Start your free trial today</a></h3>
<h4>$12 per month. Cancel anytime.</h4>
<hr>
<p><em>[ custom animation - Start learning guitar today. / Get weened on classic recordings. / Get advice from advanced players. / Get a new lessons every week. Get started today. ]</em></p>
<hr>

<h2>Ask an Expert</h2>
<p>Not only do we give you great resources from which to learn on your own, you also get direct access to us over email and video conferences. Just not getting a concept? Schedule a video session or hit up our support email and we'll get you unstuck.</p>

<h2>Learn Great Songs</h2>
<p>You won't find "Camptown Races" here. You'll learn tunes that have stood the test of time as well as new songs that we can't put down. When it's time to put your first three chords together, we'll show you how to rock out with Andre 3000 on "Hey Ya." When you're ready to start fingerpicking, we'll use Nico's timeless track "These Days," from <em>Chelsea Girl</em>. When we introduce you to your first rock and roll riff, it's Keith Richards' irrepressible intro to "Rocks Off."</p>

<p>We'll turn you on to new music and explain the ingredients that make your favorite songs tick. We'll shepherd you around common pitfalls and show you the shortcuts. We're gonna teach you the stuff between the notes&#8212;the stuff that moves you, makes you cry, gives you chills.</p>

<hr>
[ Intro / Sales Video ]
<hr>
<h3><a href="/signup">Sign Up</a></h3>
<h4>$12 per month. Free trial. Cancel anytime.</h4>
<h5>It's time to start a new love affair.</h5>
<hr>

<h2>New Lessons Weekly</h2>
<p>We'll be releasing new lessons every week, so there's always more to learn. If you're a beginning guitar player, our library of lessons will have you well on the way to starting your own band or writing your own songs. But you'll never run out of new material.</p>

<h2>Solid Foundation</h2>
<p>The Fuzz Guide gives you a foundation as solid as a T-Rex riff. You'll learn the essential skills you need to start a lifetime love affair with your instrument. We break down each concept to its atomic parts and use those building-blocks to give you a cohesive understanding of what you're playing and why.</p>

<p>We've packaged key lessons into an introductory course that will turn you into a real guitar player. Each lesson includes a video version of the lesson, a full article, and plenty of illustrated diagrams and photos. You'll also get a list of resources and recommended listening if you want to dig deeper.</p>

<hr>
<h3><a href="/signup">Get Started Today</a></h3>
<h4>$12 per month. Free trial. Cancel anytime.</h4>
<hr>

<p>"The Fuzz Guide gave me the confidence and ability to finally play my girlfriend's favorite song for her birthday. We're married now. Need I say more?"</p>
<p>Jack Reed</p>
<p>Atlanta, GA</p>


