<% provide(:title, 'Home') %>

<h1>A New Way to Learn Guitar</h1>
<p>The Fuzz Guide is a fresh approach approach to learning guitar. It's laser-focused on beginners. If you're just starting out this is for you.</p>

<p>We've been in your shoes and know how hard it can be when you don't have calluses and your pinky isn't strong enough to make that G-chord. We don't take anything for granted and cover it all&#8212;from gear to theory to riffs from classic and current songs.</p>

<p><a href="/signup">Start your free trial today</a></p>

<h2>Learn to Play Great Songs</h2>
<p>You won't find "Camptown Races" here. You'll learn tunes that have stood the test of time and new songs that we can't put down. When it's time to put your first three chords together, we'll show you how to rock out with Andre 3000 on <em>Hey Ya</em>. When you're ready to start fingerpicking, we'll use Nico's timeless track "These Days," from <em>Chelsea Girl</em>. When we introduce you to your first rock and roll riff, it's Keith Richards' irrepressible intro to "Rocks Off."</p>

<p>We hope to turn you on to new music and show you the magic behind what makes your favorite songs tick. We'll walk you through the gear and techniques that make all the difference. We'll shepherd you around common pitfalls and show you the shortcuts. We're gonna teach you the stuff between the notes&#8212;the stuff that moves you, makes you cry, gives you chills.</p>

<p><a href="/signup">Sign Up</a></p>
<p>$12 per month</p>
<p>It's time to start a new love affair. Free trial. Cancel anytime.</p>

<h3>New Lessons Every Week</h3>
<p>There's always more to learn. If you're a beginning guitar player our library of lessons will have you well on the way to starting your own band or writing your own songs. We'll be releasing new lessons every week, so there's always more to learn.</p>

<h3>Foundation as Solid as a T-Rex Riff</h3>

<p>The Fuzz Guide gives you the essential skills you need to start a lifetime love affair with your instrument. We break down each concept to its atomic parts and use those building-blocks to give you a cohesive understanding of what you're playing and why.</p>

<p>We've packaged key lessons into an introductory course that will turn you into a real guitar player. Each lesson includes a video version of the lesson, a full article, and plenty of illustrated diagrams and photos. You'll also get a list of resources if you want to dig deeper.</p>

<p><a href="/signup">Get Started Today</a></p>
<p>$12 per month.</a>
<p>Free trial. Cancel anytime.</p>

<hr>

<p>"The Fuzz Guide gave me the confidence and ability to finally play my girlfriend's favorite song for her birthday. We're married now. Need I say more?"</p>
<p>Jack Reed</p>
<p>Atlanta, GA</p>


