<% provide(:title, 'Home') %>

<h1>A Better Way to Learn Guitar</h1>
<p>The Fuzz Guide is a fresh approach to learning guitar. It's perfect for beginners and gives you the foundation for a lifetime of making music.</p>

<h3><a href="/signup">Start your free trial today</a></h3>
<h4>$12 per month. Cancel anytime.</h4>
<hr>
<p><em>[ copy for custom animation that includes a rotating series of headlines: Start playing guitar today. / Learn classic recordings. / Get advice from advanced players. / Get a new lessons every week. Get started today. ]</em></p>
<hr>

<h2>A Solid Foundation</h2>
<p>You get a foundation stronger than a T-Rex riff. We break down each concept to its atomic elements and build them into a cohesive understanding of the instrument. We'll shepherd you around common pitfalls, teach you what really matters, and show you the shortcuts.</p>

<h2>Perfect for Beginners</h2>
<p>We've packaged key lessons into an introductory course tailored to new guitar players. Each lesson includes a video version of the lesson, a full article, audio clips, and plenty of illustrated diagrams and photos. You'll also get a list of resources and recommended listening if you want to dig deeper.</p>

<h2>New Lessons Every Week</h2>
<p>We release a new lesson each week, so there's always more to learn.</p>

<h2>Get Help From Experts</h2>
<p>You'll get direct access to us over email and video conferences. Not understanding a concept? Schedule a video session or contact our support team and we'll help you out.</p>

<h2>Learn Great Songs</h2>
<p>You'll learn tunes that stand the test of time. When it's time to fingerpick, we'll show you "These Days" from Nico's classic album <em>Chelsea Girl</em>. When you're ready to play your first Rock and Roll riff, it'll be Keith Richards' irrepressible intro to "Rocks Off." No "Stairway to Heaven" here.</p>

<hr>
[ Intro / Sales Video ]
<hr>
<h3><a href="/signup">Sign Up</a></h3>
<h4>$12 per month. Free trial. Cancel anytime.</h4>
<hr>

<hr>
<p>"The Fuzz Guide gave me the confidence and ability to finally play my girlfriend's favorite song for her birthday. We're married now. Need I say more?"</p>
<p>Jack Reed</p>
<p>Atlanta, GA</p>
<hr>

<h3><a href="/signup">Get Started Today</a></h3>
<h4>$12 per month. Free trial. Cancel anytime.</h4>
