<% provide(:title, 'Home') %>

<h1>The Fuzz Guide to Guitar</h1>
<h2>Ab easier way to learn guitar.</h2>

<h3>Everything you need to start playing guitar</h3>
<p>The Fuzz Guide is a new approach to learning guitar. It's tailored to beginners and takes a multi-media approach. that presents the material however you learn best. Each lesson includes the basic text with illustrated diagrams and photos. It's accompanied by a video version of the lesson and lots of resources that will help you continue building on each concept. However you learn best, we've got you covered.</p>

<h3>25 Weeks to Core Competancy</h3>
<p>The Fuzz Guide will get you up and running with the essential skills you need to embark on a lifetime of riffs. We've packaged key lessons into an introductory course that enables a newbie to become a guitar player. Once you've got the basics down, you can follow along as we release a new episode each week, so you'll never stop learning. As long as you want to continue with the instrument, The Fuzz Guide will be there to keep pushing you forward.</p>

<p><a href="/signup">Sign Up</a></p>
<p>$12 per month</p>
<p>Simple pricing. Cancel anytime</p>

<h3>Perfect for Beginners</h3>
<p>Our guitar method is laser-focused on new guitar players. If you're just starting out you'll love it. If you can already strum your favorite Neil Young song, but want to push through to the next level, you'll find plenty of resources and The Fuzz Guide might be exactly what you need. If you already know how to play the lead riff on "And Your Bird Can Sing," then The Fuzz Guide might not be for you. But, feel free to sign up for our email newsletter because we'll let you know when we release more advanced courses.</p>

<p>If you know how to play some guitar, but just need to brush up and strengthen your chops, you'll find a lot of value here. You can always browse our library of lessons that cover a range of styles and levels, and we release a new lesson each week.</p>
 
<p>For the absolute beginers, we won't assume that you know anything. We'll break down each concept that need it to its most atomic part and use those building-blocks to give you a cohesive understanding of what you're playing and why. We'll keep you motivated by teaching you songs that you want to learn. You won't find Camptown Races here.</p>
 
<p>We've been in your shoes and know how hard it can be when you don't yet have calluses on your finger tips and your pinky finger isn't quite strong enough to make your G-chord sound crystal clear. So we don't take anything for granted and cover it all - from gear to theory to riffs from classic and current songs. You'll love learning with us.</p>

<h3>A New Lesson Every Week</h3>
<p>There's always more to learn. If you're a beginning guitar player our library of lessons will have you well on the way to becoming confident enough to start your own band or write your own songs. But we'll also be releasing. As you grow in guitar our library will be growing with you. We'll cover current events and relate new lessons. We'll release intermediate and advanced lessons that might be above your head, but will challenge you to grow and improve. </p>

<p>You'll never get bored and you'll always have our library of lessons if you need to brush up on . We'll cover different styles. The only constant is that it will always be interesting, and by the time you've mastered the latest lesson there will be a new one waiting in your inbox.</p>

<h3>Songs You Actually Want to Learn</h3>
<p>You won't find "Camptown Races" here. Whether we're teaching you a solid gold classic riff, a song from a new band that we can't stop listening to, or an indie rock classic we'll only [teach you music] that you'll love. Learning guitar should be fun, and learning to play great music is the best way to keep you motivated and excited about the instrument.</p>

<h3>Learn Your Way</h3>
<p>Lessons are presented with *video*, *text*,  *photos*, and *illustrations*. No matter how you learn best, we've got you covered.</p>
 
<p>Each lesson includes a video version of the lesson, a full article, and plenty of illustrated diagrams and photos. You'll also get a list of resources if you want to dig deeper. And, The Fuzz Guide works great on any device - your phone, a tablet, or your laptop. There's no stopping you now!</p>

<h3>Works Great on Any Device</h3>
<p>We built The Fuzz Guide website with mobile users top-of-mind. Whether you'd like to check out the lessons on your iPad, desktop, smartphone, or . It works great in every browser. There's no excuse to avoid practicing this week. You can work with the Fuzz Guide anywhere that you can get a data connection.</p>

<p><a href="/signup">Get Started Today</a></p>
<p>$12 per month.</a>
<p>Simple pricing. Cancel anytime</p>

<hr>

<p>"The Fuzz Guide gave me the confidence and ability to finally play my girlfriend's favorite song for her birthday. We're married now. Need I say more?"</p>
<p>Jack Reed</p>
<p>Atlanta, GA</p>


